<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	metadata-complete="true" version="3.1">

	<!--↓工作日志↓ -->
	<servlet>
		<servlet-name>WorkLogfind</servlet-name>
		<servlet-class>com.pms.controller.WorkLogController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WorkLogfind</servlet-name>
		<url-pattern>/WorkLog/getWorkLogById</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WorkLogDel</servlet-name>
		<servlet-class>com.pms.controller.WorkLogController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WorkLogDel</servlet-name>
		<url-pattern>/WorkLog/delWorkLogById</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WorkLogupdate</servlet-name>
		<servlet-class>com.pms.controller.WorkLogController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WorkLogupdate</servlet-name>
		<url-pattern>/WorkLog/updateWorkLog</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WorkLogadd</servlet-name>
		<servlet-class>com.pms.controller.WorkLogController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WorkLogadd</servlet-name>
		<url-pattern>/WorkLog/getWorkLogPage</url-pattern>
	</servlet-mapping>
	<!--↑工作日志 ↑-->
</web-app>